<li id='item_notification_1' class="media">
  <div class="media-body">
    <div class='exclusaoNotificacao'>
      <button class='btn btn-danger btn-xs button_exclusao' id='1' onclick='excluirItemNotificacao(this)'>x</button>
    </div>
    <h4 class="media-heading">ITEM 1</h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque </p>
  </div>
</li>
<li id='item_notification_1' class="media">
  <div class="media-body">
    <div class='exclusaoNotificacao'>
      <button class='btn btn-danger btn-xs button_exclusao' id='1' onclick='excluirItemNotificacao(this)'>x</button>
    </div>
    <h4 class="media-heading">ITEM 1</h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque </p>
  </div>
</li>
<li id='item_notification_1' class="media">
  <div class="media-body">
    <div class='exclusaoNotificacao'>
      <button class='btn btn-danger btn-xs button_exclusao' id='1' onclick='excluirItemNotificacao(this)'>x</button>
    </div>
    <h4 class="media-heading">ITEM 1</h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque </p>
  </div>
</li>