<h3 class="mat-display-1" style="margin-bottom:10px">Edit transaction</h3>
<form [formGroup]="editTransactionForm" class="container" (submit)="onSubmit($event)">
  <mat-form-field>
    <input matInput type="text" name="" id="title" placeholder="Title" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="" id="title" placeholder="Amount" formControlName="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select category" formControlName="category">
      <mat-option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</mat-option>
      <mat-option [value]="-1">Create new category</mat-option>
    </mat-select>
  </mat-form-field>
  <app-create-category *ngIf="createCategoryShown" (categoryCreated)="onCategoryCreated($event)"></app-create-category>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (focus)="picker.open()" (click)="picker.open()"
      formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker touchUi></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput name="" id="note" placeholder="Add a note" formControlName="note"></textarea>
  </mat-form-field>
  <div class="controls">
    <button mat-raised-button color="warn" (click)="onCancel()" type="button">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>