.app-alert{
    background-color: black;
    width:14em;
    height: 5em;
    position: absolute;
    border-radius: 5%;
    right: -14em;
}

.success-alert{
    background-color:cadetblue;
}

.warn-alert{
    background-color: yellow;
}
.info-alert{
    background-color:aqua;
}
.error-alert{
    background-color:red;
}
div {
    overflow-y: hidden;
    overflow-x: hidden;
}