.app-alert{
    background-color: black;
    width:14em;
    height: 5em;
    position: absolute;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    right: -14em;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
}

.success-alert{
    background-color:#d4edda;
    border-color: #c3e6cb;
}

.warn-alert{
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.info-alert{
    background-color:#cce5ff;
    border-color: #b8daff;
}
.error-alert{
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

h4{
    padding-left: 1rem;
    padding-top: 0.5rem;
}