<mat-toolbar color="primary">
  <span routerLink="/" id="header">MoneyTracker</span>
  <div fxShow="true" fxHide.lt-md="true">
    <a routerLink="/transactions" mat-button>Transactions</a>
  </div>
  <div fxShow="true" fxHide.gt-sm="true">
    <button (click)="sidenav.toggle()" mat-button>Show Side Menu</button>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="side" #sidenav>
    <a routerLink="/transactions" mat-button>Transactions</a>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>