<div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="mat-display-1" style="margin-bottom:10px">All transactions</h3>
    <button mat-raised-button routerLink="/create-transaction" color="primary">Create Transaction</button>
  </div>
  <table mat-table [dataSource]="allTransaction" class="mat-elevation-z8">
    <!-- Title column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <!-- Amount -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
    </ng-container>
    <!-- Date -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.readableDate}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;  columns: displayedColumns;" [routerLink]="'/transactions/'+row.id" class="link"></tr>
  </table>
</div>